.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
# SwiftPM Xcode integration
.swiftpm/xcode/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.env
.devcontainer/outfitpicker-zscaler